[submodule "tacle-bench"]
	path = tacle-bench
	url = https://github.com/tacle/tacle-bench.git
[submodule "polybench"]
	path = polybench
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
[submodule "cv32e40p"]
	path = cv32e40p
	url = https://github.com/openhwgroup/cv32e40p.git
