[submodule "tacle-bench"]
	path = tacle-bench
	url = https://github.com/tacle/tacle-bench.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator.git
[submodule "cv32e40p"]
	path = cv32e40p
	# url = https://github.com/openhwgroup/cv32e40p.git
	url = https://github.com/PhilippvK/cv32e40p.git
[submodule "core-v-verif"]
	path = core-v-verif
	url = https://github.com/PhilippvK/core-v-verif.git
[submodule "polybench"]
	path = polybench
	url = https://github.com/MatthiasJReisinger/PolyBenchC-4.2.1.git
[submodule "mibench"]
	path = mibench
	url = https://github.com/embecosm/mibench.git
[submodule "embench-iot"]
	path = embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "coremark"]
	path = coremark
	url = https://github.com/eembc/coremark.git
